<div class="container mt-2">
        <%= form_for @idea do |f| %>
            <div class="form-group">
                <%= f.label :Idea %>
                <%= f.text_field(:title, class: "form-control") %>
            </div>
            <div class="form-group">
                <%= f.label :Description %>
                <%= f.text_area :body, cols: 60, rows: 5, class: "form-control" %>
            </div>
            <%= f.submit class: "btn btn-dark" %>
        <% end %>
</div>